{% extends "layout.html.twig" %}
{% block content %}
	<div id="content">
		<div class="cbox_fws">
			<h3>Excepteur occaecat cupid duis consequat</h3>
			<div class="cbox_w280 float_l">
				<a href="#"><img src="../images/templatemo_image_04.jpg" alt="image" class="image_frame"/></a>
				<p>Excepteur sint occaecat cupidatat non proi ent, sunt in culpa qui officia deserunt molt anim id est laborum.</p>
				<a href="#" class="more float_r">
					<span>&gt;&gt;</span>
					Read more</a>
				<div class="cleaner"></div>
			</div>
			<div class="cbox_w280 float_r">
				<a href="#"><img src="../images/templatemo_image_05.jpg" alt="image" class="image_frame"/></a>
				<p>Duis ac tellus et risus vulputate vehicnec lobortis risus a elit. Etiam tempor. Utllan corper ligula.</p>
				<a href="#" class="more float_r">
					<span>&gt;&gt;</span>
					Read more</a>
				<div class="cleaner"></div>
			</div>
			<div class="cleaner"></div>
			<div class="cbox_w280 float_l">
				<a href="#"><img src="../images/templatemo_image_06.jpg" alt="image" class="image_frame"/></a>
				<p>Marst str sint occaecat cupidatat non prod ent, sunt in culpa qui officia deserunt mol satst gislets  ste otedform.</p>
				<a href="#" class="more float_r">
					<span>&gt;&gt;</span>
					Read more</a>
				<div class="cleaner"></div>
			</div>
			<div class="cbox_w280 float_r">
				<a href="#"><img src="../images/templatemo_image_07.jpg" alt="image" class="image_frame"/></a>
				<p>Fedarls moste risus vulputate vehiculnec lobortis risus a elit. Etiam tempor. sullan cooffieca deserunt moti.</p>
				<a href="#" class="more float_r">
					<span>&gt;&gt;</span>
					Read more</a>
				<div class="cleaner"></div>
			</div>
			<div class="cleaner"></div>
		</div>

		<div class="cbox_last">
			<h3>Photo Gallery</h3>
			<ul class="photo_gallery">
				<li>
					<a href="#"><img src="../images/templatemo_image_01.jpg" alt="Image 1" class="image_frame"/></a>
				</li>
				<li>
					<a href="#"><img src="../images/templatemo_image_02.jpg" alt="Image 2" class="image_frame"/></a>
				</li>
				<li class="rmp">
					<a href="#"><img src="../images/templatemo_image_03.jpg" alt="Image 3" class="image_frame"/></a>
				</li>
			</ul>
			<div class="cleaner"></div>
			<p>
				<a href="#" class="more float_r">
					<span>&gt;&gt;</span>
					View All</a>
			</p>

		</div>

	</div>
{% endblock %}
